$maxMobile: " (max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(max-width: 768px)";

$themeColor: #e2494c;
$textColor: #9c9c9c;
$textDarker: #5e5e5e;

$padd: 5rem;
$trans: 0.3s ease-in-out;
