* {
  @include prefixer(box-sizing, border-box, webkit o ms);
}

.container {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @include breakpoints(medium) {
    width: 750px;
  }
  @include breakpoints(large) {
    width: 970px;
  }
  @include breakpoints(xlarge) {
    width: 1170px;
  }
}
