@include reset();

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
  font: {
    family: Tahoma;
  }
}

::placeholder {
  color: #b3b3b3;
}

@include animationPrefixer(FadeIn) {
  0%,
  50% {
    opacity: 0;
  }
  100%,
  25% {
    opacity: 1;
  }
}
